@font-face {
  font-family: "LXGW WenKai Lite";
  src: url("/fonts/LXGWWenKai-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
input,
textarea,
.w-md-editor,
.wmde-markdown {
  font-family: "LXGW WenKai Lite", "Segoe UI", Segoe, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
